# Summing warehouse businesses by zip code with ZBP data

DT

4/20/22

This requires the zip code data to be unzipped.
ZBP data is in the same folders as the CBPs.

In [6]:
import pandas as pd
import os

In [7]:
os.listdir('../raw_data/cbp19/')

['cbp19cd.xlsx',
 'cbp19co.zip',
 'cbp19csa.zip',
 'cbp19msa.zip',
 'cbp19pr_ia_co.zip',
 'cbp19pr_ia_st.zip',
 'cbp19st.zip',
 'cbp19us.zip',
 'zbp19detail.txt',
 'zbp19detail.zip',
 'zbp19totals.zip']

In [8]:
%%time
zbp19 = pd.read_csv('../raw_data/cbp19/zbp19detail.txt', encoding = 'ISO-8859-1')
zbp19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2881311 entries, 0 to 2881310
Data columns (total 16 columns):
 #   Column    Dtype
---  ------    -----
 0   zip       int64
 1   name      object
 2   naics     object
 3   est       int64
 4   n<5       object
 5   n5_9      object
 6   n10_19    object
 7   n20_49    object
 8   n50_99    object
 9   n100_249  object
 10  n250_499  object
 11  n500_999  object
 12  n1000     object
 13  city      object
 14  stabbr    object
 15  cty_name  object
dtypes: int64(2), object(14)
memory usage: 351.7+ MB
Wall time: 4.85 s

In [9]:
zbp19['zip'].value_counts()

33166    830
10001    816
92705    760
11101    746
80112    729
        ...
72812      1
28272      1
72776      1
72769      1
501        1
Name: zip, Length: 35129, dtype: int64

In [10]:
zbp19['naics'].value_counts()[:20]

------    35129
81----    22504
23----    22427
44----    21916
238///    19475
72----    19076
813///    18897
722///    18117
62----    17955
541///    17748
54----    17748
72251/    16735
7225//    16735
56----    16539
813110    16416
8131//    16416
81311/    16416
48----    16118
561///    15812
31----    15775
Name: naics, dtype: int64

There are 35129 total businesses.
The big ones:
- 81----    is Other Services.
- 23----    is construction. (This could be useful when thinking about warehouses?? How do construction business work in terms of establishments vs sites?)
- 44----	Retail Trade
- 238///	Specialty Trade Contractors

More in the NAICS notebook. The ones we're focused on are the warehouses.

Warehouse NAICS:
Our codes are `493///` for Warehousing and Storage.
`4931//` is the only subset of the above. (like taxonomy -- _sapiens_ is the only living species in _homo_)
- `49311/`, `493110` General
- `49312/`, `493120` Refrigerated
- `49313/`, `493130` Farm Products
- `49319/`, `493190` Other


It will be helpful to first just extract only the rows with zips in cali.

4/21/22

made a couple dictionaries to translate tracts to zips and vice versa.

In [12]:
import json

dicts_filepath = '../CA_zip_tract_translation/'

tract_to_zip_dict_filepath = dicts_filepath + 'tract_to_zip.json'
zip_to_tract_dict_filepath = dicts_filepath + 'zip_to_tract.json'

with open (tract_to_zip_dict_filepath, 'r') as my_ttz_file:
    tract_to_zip = json.load(my_ttz_file)

with open (zip_to_tract_dict_filepath, 'r') as my_ztt_file:
    zip_to_tract = json.load(my_ztt_file)

In [13]:
zip_to_tract['90210']

[6037700801, 6037700700, 6037141700, 6037261101, 6037700600, 6037261102]

In [14]:
tract_to_zip['6037700801']

90210

I'd like a DataFrame with observations like the following...


| index | census tract |  zip code | original CAES number | total business type 1 | total business type 2 | ... |
| --- | --- | --- | --- | --- | --- | --- |

making sure not to use census tract or zip as indices --- there will be multiple ones from each CAES set.

In [15]:
all_cali_zips = set(zip_to_tract.keys())
all_cali_zips

{'94544',
 '96067',
 '92802',
 '93105',
 '95623',
 '94519',
 '94608',
 '94954',
 '93066',
 '91306',
 '95585',
 '95698',
 '92707',
 '93311',
 '93647',
 '92866',
 '92058',
 '91906',
 '95948',
 '95134',
 '92129',
 '95126',
 '91786',
 '95236',
 '90056',
 '90290',
 '94505',
 '95916',
 '95821',
 '95425',
 '92252',
 '93955',
 '93247',
 '94598',
 '94956',
 '94587',
 '92119',
 '92009',
 '95257',
 '90041',
 '95638',
 '92683',
 '92596',
 '93546',
 '94579',
 '91915',
 '95691',
 '93445',
 '95987',
 '92507',
 '95667',
 '90723',
 '95210',
 '93552',
 '93458',
 '91755',
 '95969',
 '90502',
 '94070',
 '90810',
 '96064',
 '90058',
 '91402',
 '90062',
 '90038',
 '93430',
 '96035',
 '91739',
 '93257',
 '92010',
 '95212',
 '91803',
 '94014',
 '92113',
 '95746',
 '96003',
 '92629',
 '94574',
 '92027',
 '92081',
 '95682',
 '95713',
 '91752',
 '95838',
 '94518',
 '95490',
 '91732',
 '92503',
 '93640',
 '92625',
 '90077',
 '95837',
 '95120',
 '92127',
 '95684',
 '90040',
 '93706',
 '90270',
 '95823',
 '95503',
 '93544',
 '95422',
 '95128',
 '95953',
 '92114',
 '92407',
 '94577',
 '94128',
 '95659',
 '95843',
 '91030',
 '96130',
 '94707',
 '93041',
 '96041',
 '92105',
 '95669',
 '95961',
 '93611',
 '93267',
 '90047',
 '90039',
 '95926',
 '92211',
 '90020',
 '94404',
 '92886',
 '94545',
 '95432',
 '94558',
 '95666',
 '91106',
 '94065',
 '92120',
 '92140',
 '94904',
 '95525',
 '91354',
 '91042',
 '95369',
 '92007',
 '92117',
 '91945',
 '92236',
 '94515',
 '95119',
 '90250',
 '95403',
 '93003',
 '90503',
 '92627',
 '92539',
 '95526',
 '94556',
 '94949',
 '92506',
 '95621',
 '95652',
 '92673',
 '95842',
 '94708',
 '90015',
 '95307',
 '95937',
 '95358',
 '91361',
 '91502',
 '93933',
 '91901',
 '94502',
 '95831',
 '94123',
 '95357',
 '95215',
 '90275',
 '94503',
 '95374',
 '92646',
 '95665',
 '92344',
 '91768',
 '90007',
 '94541',
 '93940',
 '95825',
 '95472',
 '91001',
 '92082',
 '92145',
 '94134',
 '92832',
 '91387',
 '92301',
 '93610',
 '92376',
 '93301',
 '94005',
 '90035',
 '92256',
 '94117',
 '91916',
 '90032',
 '91604',
 '90620',
 '95247',
 '95301',
 '92014',
 '92543',
 '96122',
 '94610',
 '92548',
 '96097',
 '94609',
 '95380',
 '94592',
 '91302',
 '92025',
 '93286',
 '94945',
 '91723',
 '93251',
 '90064',
 '94038',
 '95618',
 '95326',
 '95030',
 '90248',
 '93664',
 '95148',
 '95677',
 '95815',
 '93648',
 '95008',
 '92109',
 '91364',
 '92325',
 '92227',
 '92373',
 '90045',
 '90241',
 '94002',
 '95864',
 '95641',
 '95361',
 '95135',
 '90017',
 '91324',
 '92372',
 '91362',
 '95963',
 '94303',
 '90604',
 '91775',
 '91910',
 '93111',
 '90680',
 '93704',
 '91401',
 '94801',
 '95014',
 '92831',
 '94304',
 '92126',
 '95973',
 '92404',
 '95428',
 '92610',
 '95642',
 '93510',
 '95065',
 '96031',
 '93591',
 '95333',
 '93291',
 '95932',
 '91709',
 '95694',
 '92555',
 '94702',
 '95076',
 '92663',
 '91202',
 '92843',
 '93308',
 '92067',
 '95540',
 '95207',
 '95324',
 '96032',
 '92509',
 '94580',
 '94130',
 '92128',
 '96140',
 '94118',
 '93725',
 '94517',
 '94131',
 '91303',
 '92374',
 '96065',
 '95934',
 '93292',
 '91765',
 '93274',
 '90221',
 '92242',
 '90630',
 '95975',
 '94583',
 '90745',
 '95939',
 '94508',
 '93063',
 '92648',
 '92124',
 '90304',
 '92806',
 '93433',
 '95003',
 '95628',
 '93454',
 '95111',
 '93402',
 '93428',
 '92869',
 '94960',
 '91331',
 '90022',
 '90065',
 '92201',
 '95377',
 '93923',
 '90059',
 '96020',
 '92508',
 '93250',
 '92064',
 '92701',
 '95350',
 '93043',
 '93616',
 '93705',
 '95209',
 '91403',
 '92614',
 '92708',
 '94963',
 '95655',
 '92544',
 '90003',
 '93442',
 '93516',
 '94116',
 '94603',
 '92264',
 '93004',
 '95757',
 '94597',
 '94568',
 '94605',
 '95701',
 '95742',
 '94553',
 '93560',
 '93444',
 '92240',
 '92879',
 '91605',
 '91105',
 '92026',
 '91606',
 '94613',
 '90046',
 '91350',
 '91201',
 '95203',
 '93272',
 '61',
 '94542',
 '96113',
 '90012',
 '94606',
 '92887',
 '95246',
 '96052',
 '92241',
 '95124',
 '91103',
 '94015',
 '95322',
 '95442',
 '90660',
 '91436',
 '93526',
 '95833',
 '95603',
 '92011',
 '92551',
 '95811',
 '92123',
 '92220',
 '92691',
 '95928',
 '93108',
 '95205',
 '90230',
 '92602',
 '92004',
 '91343',
 '91741',
 '94591',
 '91024',
 '95304',
 '94112',
 '94601',
 '95010',
 '92061',
 '94536',
 '94612',
 '90506',
 '95829',
 '95762',
 '91316',
 '92078',
 '92305',
 '94903',
 '92808',
 '94127',
 '95242',
 '90301',
 '92008',
 '90013',
 '92382',
 '94920',
 '94585',
 '90731',
 '94560',
 '92345',
 '93223',
 '95427',
 '94925',
 '92399',
 '91355',
 '90744',
 '95132',
 '94538',
 '92567',
 '93702',
 '93283',
 '93703',
 '95470',
 '93012',
 '93635',
 '96101',
 '92583',
 '94114',
 '94704',
 '91740',
 '94402',
 '94133',
 '90713',
 '90405',
 '95664',
 '90715',
 '94611',
 '90815',
 '93461',
 '95901',
 '94080',
 '93271',
 '91330',
 '92055',
 '92020',
 '92835',
 '91942',
 '92106',
 '93637',
 '91335',
 '90006',
 '94121',
 '93022',
 '95409',
 '90028',
 '91710',
 '94019',
 '91204',
 '93242',
 '95660',
 '95616',
 '96124',
 '94523',
 '92363',
 '90212',
 '93726',
 '91935',
 '92801',
 '96150',
 '95464',
 '94509',
 '96001',
 '95363',
 '93203',
 '95073',
 '93614',
 '94024',
 '93536',
 '90280',
 '92647',
 '90813',
 '93532',
 '95351',
 '92356',
 '92672',
 '92592',
 '92530',
 '91708',
 '95356',
 '92860',
 '95836',
 '95703',
 '93001',
 '93908',
 '91702',
 '92104',
 '94105',
 '93926',
 '90042',
 '94022',
 '93646',
 '95690',
 '95116',
 '95133',
 '95334',
 '91764',
 '95138',
 '94706',
 '95631',
 '95230',
 '91311',
 '93420',
 '90291',
 '95037',
 '95663',
 '90505',
 '92103',
 '93524',
 '93221',
 '90265',
 '93728',
 '95306',
 '92135',
 '94158',
 '93453',
 '92630',
 '93625',
 '91748',
 '95971',
 '96161',
 '95204',
 '90277',
 '92410',
 '94931',
 '91384',
 '94132',
 '93060',
 '95448',
 '95110',
 '92086',
 '90401',
 '90670',
 '92115',
 '94552',
 '95127',
 '91207',
 '91776',
 '94602',
 '92624',
 '95938',
 '96058',
 '95222',
 '93206',
 '95139',
 '95765',
 '94103',
 '92782',
 '91733',
 '93514',
 '92352',
 '94619',
 '92660',
 '94599',
 '96056',
 '93654',
 '96117',
 '91932',
 '92586',
 '91206',
 '94085',
 '91754',
 '94964',
 '93042',
 '95231',
 '95446',
 '94122',
 '95640',
 '90033',
 '90703',
 '90242',
 '94534',
 '91367',
 '93426',
 '96094',
 '92154',
 '92337',
 '92845',
 '92003',
 '92394',
 '94547',
 '92584',
 '96104',
 '93720',
 '94060',
 '91304',
 '92501',
 '92521',
 '93455',
 '91767',
 '95330',
 '91763',
 '93907',
 '95202',
 '93609',
 '93930',
 '90004',
 '92392',
 '95327',
 '91406',
 '91345',
 '91352',
 '90840',
 '90025',
 '94550',
 '95720',
 '93633',
 '92278',
 '91731',
 '92397',
 '95465',
 '91101',
 '90806',
 '95023',
 '92308',
 '91504',
 '92401',
 '92019',
 '95131',
 '90210',
 '92867',
 '93446',
 '91914',
 '91203',
 '90712',
 '92276',
 '93550',
 '93309',
 '95223',
 '92335',
 '94566',
 '93620',
 '92134',
 '95824',
 '94306',
 '91711',
 '91608',
 '95632',
 '95981',
 '92203',
 '95957',
 '93207',
 '93109',
 '93013',
 '92603',
 '95605',
 '94705',
 '48',
 '93241',
 '90023',
 '93204',
 '93010',
 '93905',
 '90011',
 '92371',
 '96021',
 '90640',
 '95670',
 '90621',
 '93312',
 '93656',
 '92359',
 '95436',
 '95136',
 '91762',
 '94066',
 '94507',
 '91902',
 '92239',
 '95822',
 '90755',
 '92270',
 '90016',
 '92595',
 '93517',
 '93305',
 '95501',
 '92282',
 '92590',
 '94040',
 '93906',
 '92883',
 '93030',
 '95370',
 '94572',
 '93608',
 '96022',
 '94028',
 '95841',
 '91020',
 '93023',
 '93265',
 '92780',
 '92028',
 '90245',
 '93534',
 '94559',
 '95012',
 '93901',
 '95949',
 '94618',
 '96132',
 '92111',
 '90742',
 '92262',
 '92036',
 '90747',
 '94565',
 '90601',
 '93463',
 '92253',
 '94965',
 '92694',
 '95634',
 '90303',
 '94301',
 '92395',
 '95965',
 '94041',
 '92618',
 '93701',
 '93285',
 '91750',
 '93239',
 '93422',
 '95610',
 '94109',
 '93306',
 '94578',
 '92324',
 '93615',
 '92563',
 '90066',
 '90716',
 '92233',
 '95437',
 '91108',
 '91214',
 '92131',
 '91790',
 '90274',
 '95476',
 '94582',
 '95125',
 '95123',
 '95608',
 '90063',
 '93644',
 '94108',
 '94546',
 '94063',
 '32',
 '93662',
 '96025',
 '90704',
 '92865',
 '92570',
 '93277',
 '92653',
 '93551',
 '92655',
 '95661',
 '95453',
 '95335',
 '93730',
 '90220',
 '95626',
 '94030',
 '94035',
 '90044',
 '95389',
 '93436',
 '91205',
 '92833',
 '92107',
 '93612',
 '93518',
 '93219',
 '95835',
 '95032',
 '90746',
 '92532',
 '93234',
 '94089',
 '94551',
 '91801',
 '95758',
 '95685',
 '92139',
 '92657',
 '90057',
 '93501',
 '90740',
 '92861',
 '95376',
 '95130',
 '93252',
 '90037',
 '91950',
 '92110',
 '90302',
 '94102',
 '90027',
 '90631',
 '90706',
 '93401',
 '95017',
 '92040',
 '95832',
 '95942',
 '91040',
 '90255',
 '95043',
 '94555',
 '95966',
 '91307',
 '94044',
 '92882',
 '95688',
 '90067',
 '92676',
 '92037',
 '96047',
 '93650',
 '95020',
 '95630',
 '92173',
 '92604',
 '92557',
 '92225',
 '91506',
 '96142',
 '92545',
 '95033',
 '93441',
 '92649',
 '96103',
 '95542',
 '95514',
 '93268',
 '96044',
 '92823',
 '91405',
 '95468',
 '93622',
 '90019',
 '92587',
 '96016',
 '94539',
 '94947',
 '92118',
 '90804',
 '92358',
 '93225',
 '95747',
 '95602',
 '92706',
 '90048',
 '94061',
 '95979',
 '95051',
 '94062',
 '91356',
 '90623',
 '91722',
 '92692',
 '91007',
 '93636',
 '90024',
 '95355',
 '90402',
 '94124',
 '95401',
 '93117',
 '92585',
 '93924',
 '94521',
 '95687',
 '92612',
 '92057',
 '92075',
 '90018',
 '91326',
 '91208',
 '96073',
 '93449',
 '90650',
 '95360',
 '93727',
 '90605',
 '90061',
 '94901',
 '95531',
 '94571',
 '95054',
 '95002',
 '91706',
 '90807',
 '93065',
 '95683',
 '95366',
 '90602',
 '92505',
 '95252',
 '95834',
 '95066',
 '94939',
 '92231',
 '92504',
 '95062',
 '93721',
 '91941',
 '94709',
 '95828',
 '94501',
 '92807',
 '93535',
 '90249',
 '92281',
 '92662',
 '95337',
 '95050',
 '93638',
 '91977',
 '94531',
 '91766',
 '92029',
 '95469',
 '92307',
 '90201',
 '95570',
 '93505',
 '91780',
 '94951',
 '95240',
 '95046',
 '95819',
 '90802',
 '95662',
 '95988',
 '95550',
 '91789',
 '94561',
 '93033',
 '92651',
 '95005',
 '94703',
 '95219',
 '95039',
 '95060',
 '95816',
 '95315',
 '95830',
 '93619',
 '92561',
 '95695',
 '95018',
 '92617',
 '92675',
 '90002',
 '92571',
 '90293',
 ...}

In [16]:
#there are almost 300000 observations from california in zbp19.

#make a table of bools to mask the non-calis
zbp19_cali_truths = zbp19['zip'].apply(lambda zip_code: str(zip_code) in all_cali_zips)
zbp19_cali_truths.sum()

299337

In [20]:
#mask the non-calis with that truth table.
zbp19_cali = zbp19[zbp19_cali_truths]
zbp19_cali

,zip,name,naics,est,n<5,n5_9,n10_19,n20_49,n50_99,n100_249,n250_499,n500_999,n1000,city,stabbr,cty_name
2443695,90001,"LOS ANGELES, CA",------,613,316,111,96,73,4,12,N,N,N,LOS ANGELES,CA,LOS ANGELES
2443696,90001,"LOS ANGELES, CA",23----,28,13,8,6,N,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
2443697,90001,"LOS ANGELES, CA",236///,6,4,N,N,N,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
2443698,90001,"LOS ANGELES, CA",2361//,5,4,N,N,N,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
2443699,90001,"LOS ANGELES, CA",23611/,5,4,N,N,N,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2749280,96161,"TRUCKEE, CA",81331/,8,5,N,N,N,N,N,N,N,N,TRUCKEE,CA,NEVADA
2749281,96161,"TRUCKEE, CA",813312,7,4,N,N,N,N,N,N,N,N,TRUCKEE,CA,NEVADA
2749282,96161,"TRUCKEE, CA",8139//,11,4,N,3,N,N,N,N,N,N,TRUCKEE,CA,NEVADA
2749283,96161,"TRUCKEE, CA",81399/,9,4,N,3,N,N,N,N,N,N,TRUCKEE,CA,NEVADA
2749284,96161,"TRUCKEE, CA",813990,9,4,N,3,N,N,N,N,N,N,TRUCKEE,CA,NEVADA

In [21]:
zbp19_cali.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 299337 entries, 2443695 to 2749284
Data columns (total 16 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   zip       299337 non-null  int64
 1   name      299337 non-null  object
 2   naics     299337 non-null  object
 3   est       299337 non-null  int64
 4   n<5       299337 non-null  object
 5   n5_9      299337 non-null  object
 6   n10_19    299337 non-null  object
 7   n20_49    299337 non-null  object
 8   n50_99    299337 non-null  object
 9   n100_249  299337 non-null  object
 10  n250_499  299337 non-null  object
 11  n500_999  299337 non-null  object
 12  n1000     299337 non-null  object
 13  city      299337 non-null  object
 14  stabbr    299337 non-null  object
 15  cty_name  299337 non-null  object
dtypes: int64(2), object(14)
memory usage: 38.8+ MB

In [22]:
# look at construction. There are some with '-' and some with '/' as their placeholders.
# I'm not sure there's a difference between the two symbols.
zbp19_cali[zbp19_cali['naics'] == '23----']

,zip,name,naics,est,n<5,n5_9,n10_19,n20_49,n50_99,n100_249,n250_499,n500_999,n1000,city,stabbr,cty_name
2443696,90001,"LOS ANGELES, CA",23----,28,13,8,6,N,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
2443959,90002,"LOS ANGELES, CA",23----,21,17,N,3,N,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
2444047,90003,"LOS ANGELES, CA",23----,28,22,4,N,N,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
2444196,90004,"LOS ANGELES, CA",23----,50,34,12,3,N,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
2444565,90005,"LOS ANGELES, CA",23----,34,27,5,N,N,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2748356,96142,"TAHOMA, CA",23----,14,11,N,N,N,N,N,N,N,N,TAHOMA,CA,EL DORADO
2748368,96143,"KINGS BEACH, CA",23----,29,23,4,N,N,N,N,N,N,N,KINGS BEACH,CA,PLACER
2748421,96145,"TAHOE CITY, CA",23----,60,40,14,5,N,N,N,N,N,N,TAHOE CITY,CA,PLACER
2748648,96150,"SOUTH LAKE TAHOE, CA",23----,154,124,20,8,N,N,N,N,N,N,SOUTH LAKE TAHOE,CA,EL DORADO
2749003,96161,"TRUCKEE, CA",23----,212,141,36,22,11,N,N,N,N,N,TRUCKEE,CA,NEVADA

In [23]:
#221 "summary" rows with ALL warehouses in each zip. 
zbp19_cali[zbp19_cali['naics'] == '493///']

,zip,name,naics,est,n<5,n5_9,n10_19,n20_49,n50_99,n100_249,n250_499,n500_999,n1000,city,stabbr,cty_name
2443850,90001,"LOS ANGELES, CA",493///,3,N,N,N,N,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
2449655,90021,"LOS ANGELES, CA",493///,9,4,N,N,N,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
2450345,90023,"LOS ANGELES, CA",493///,14,3,N,N,4,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
2455713,90040,"LOS ANGELES, CA",493///,16,5,3,3,N,3,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
2456997,90045,"LOS ANGELES, CA",493///,6,N,3,N,N,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2739721,95834,"SACRAMENTO, CA",493///,4,N,N,N,N,N,N,N,N,N,SACRAMENTO,CA,SACRAMENTO
2740236,95838,"SACRAMENTO, CA",493///,3,N,N,N,N,N,N,N,N,N,SACRAMENTO,CA,SACRAMENTO
2742450,95945,"GRASS VALLEY, CA",493///,3,N,N,N,N,N,N,N,N,N,GRASS VALLEY,CA,NEVADA
2744460,95987,"WILLIAMS, CA",493///,7,5,N,N,N,N,N,N,N,N,WILLIAMS,CA,COLUSA
2747432,96080,"RED BLUFF, CA",493///,5,N,N,N,N,N,N,N,N,N,RED BLUFF,CA,TEHAMA

In [24]:
#make a dict for converting warehouse types to codes.
warehouse_dict = {
    'warehouses':'493///',
    'gen/':'49311/',
    'gen':'493110',
    'cold':'49312/',
    'farm/':'49313/',
    'farm':'493130',
    'other/':'49319/',
    'other':'493190'
}

In [25]:
#try it out.
df2 = zbp19_cali[zbp19_cali['naics'] == warehouse_dict['gen'] ]

In [26]:
# the general code has the same statistics as the more specific code.

df1 = zbp19_cali[zbp19_cali['naics'] == warehouse_dict['gen/']]

In [31]:
#just checking if dividing by 'gen' type is the same as dividing by 'gen/' type.
df1.drop(columns = 'naics').values == df2.drop(columns = 'naics').values

array([[ True,  True,  True, ...,  True,  True,  True],
       [ True,  True,  True, ...,  True,  True,  True],
       [ True,  True,  True, ...,  True,  True,  True],
       ...,
       [ True,  True,  True, ...,  True,  True,  True],
       [ True,  True,  True, ...,  True,  True,  True],
       [ True,  True,  True, ...,  True,  True,  True]])

In [28]:
sum(_)

array([174, 174, 174, 174, 174, 174, 174, 174, 174, 174, 174, 174, 174,
       174, 174])

In [29]:
len(df1)

174

In [30]:
# ^ They are the same. ^

In [36]:
df1 = zbp19_cali[zbp19_cali['naics'] == warehouse_dict['cold']]
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 2449659 to 2715469
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   zip       20 non-null     int64
 1   name      20 non-null     object
 2   naics     20 non-null     object
 3   est       20 non-null     int64
 4   n<5       20 non-null     object
 5   n5_9      20 non-null     object
 6   n10_19    20 non-null     object
 7   n20_49    20 non-null     object
 8   n50_99    20 non-null     object
 9   n100_249  20 non-null     object
 10  n250_499  20 non-null     object
 11  n500_999  20 non-null     object
 12  n1000     20 non-null     object
 13  city      20 non-null     object
 14  stabbr    20 non-null     object
 15  cty_name  20 non-null     object
dtypes: int64(2), object(14)
memory usage: 2.7+ KB

In [37]:
df1

,zip,name,naics,est,n<5,n5_9,n10_19,n20_49,n50_99,n100_249,n250_499,n500_999,n1000,city,stabbr,cty_name
2449659,90021,"LOS ANGELES, CA",49312/,4,N,N,N,N,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
2450349,90023,"LOS ANGELES, CA",49312/,6,N,N,N,N,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
2459476,90058,"LOS ANGELES, CA",49312/,17,5,N,N,7,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
2481757,90640,"MONTEBELLO, CA",49312/,3,N,N,N,N,N,N,N,N,N,MONTEBELLO,CA,LOS ANGELES
2487475,90744,"WILMINGTON, CA",49312/,3,N,N,N,N,N,N,N,N,N,WILMINGTON,CA,LOS ANGELES
2519220,91706,"BALDWIN PARK, CA",49312/,3,N,N,N,N,N,N,N,N,N,BALDWIN PARK,CA,LOS ANGELES
2521921,91730,"RANCHO CUCAMONGA, CA",49312/,3,N,N,N,N,N,N,N,N,N,RANCHO CUCAMONGA,CA,SAN BERNARDINO
2527528,91761,"ONTARIO, CA",49312/,6,N,N,3,N,N,N,N,N,N,ONTARIO,CA,SAN BERNARDINO
2567685,92335,"FONTANA, CA",49312/,3,N,N,N,N,N,N,N,N,N,FONTANA,CA,SAN BERNARDINO
2575519,92509,"RIVERSIDE, CA",49312/,5,N,N,N,N,N,N,N,N,N,RIVERSIDE,CA,RIVERSIDE
2617979,93215,"DELANO, CA",49312/,3,N,N,N,N,N,N,N,N,N,DELANO,CA,KERN
2620119,93274,"TULARE, CA",49312/,3,N,N,N,N,N,N,N,N,N,TULARE,CA,TULARE
2633426,93618,"DINUBA, CA",49312/,3,N,N,N,N,N,N,N,N,N,DINUBA,CA,TULARE
2635373,93654,"REEDLEY, CA",49312/,5,N,N,N,N,N,N,N,N,N,REEDLEY,CA,FRESNO
2639011,93725,"FRESNO, CA",49312/,3,N,N,N,N,N,N,N,N,N,FRESNO,CA,FRESNO
2640251,93901,"SALINAS, CA",49312/,4,N,N,N,N,N,N,N,N,N,SALINAS,CA,MONTEREY
2675753,94577,"SAN LEANDRO, CA",49312/,3,N,N,N,N,N,N,N,N,N,SAN LEANDRO,CA,ALAMEDA
2698640,95076,"WATSONVILLE, CA",49312/,7,3,4,N,N,N,N,N,N,N,WATSONVILLE,CA,SANTA CRUZ
2706581,95206,"STOCKTON, CA",49312/,3,N,N,N,N,N,N,N,N,N,STOCKTON,CA,SAN JOAQUIN
2715469,95380,"TURLOCK, CA",49312/,3,N,N,N,N,N,N,N,N,N,TURLOCK,CA,STANISLAUS

20 entries in the refrigerated class.

In [35]:
zbp19_cali[zbp19_cali['naics'] == warehouse_dict['farm']]

,zip,name,naics,est,n<5,n5_9,n10_19,n20_49,n50_99,n100_249,n250_499,n500_999,n1000,city,stabbr,cty_name
2617853,93212,"CORCORAN, CA",493130,3,N,N,N,N,N,N,N,N,N,CORCORAN,CA,KINGS
2639014,93725,"FRESNO, CA",493130,3,N,N,N,N,N,N,N,N,N,FRESNO,CA,FRESNO

Only two in the farm type.

In [38]:
zbp19_cali[zbp19_cali['naics'] == warehouse_dict['other']]

,zip,name,naics,est,n<5,n5_9,n10_19,n20_49,n50_99,n100_249,n250_499,n500_999,n1000,city,stabbr,cty_name
2459479,90058,"LOS ANGELES, CA",493190,5,N,3,N,N,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
2482512,90660,"PICO RIVERA, CA",493190,6,N,N,N,N,N,N,N,N,N,PICO RIVERA,CA,LOS ANGELES
2483086,90670,"SANTA FE SPRINGS, CA",493190,4,N,N,N,N,N,N,N,N,N,SANTA FE SPRINGS,CA,LOS ANGELES
2484013,90703,"CERRITOS, CA",493190,3,N,N,N,N,N,N,N,N,N,CERRITOS,CA,LOS ANGELES
2487742,90745,"CARSON, CA",493190,3,N,N,N,N,N,N,N,N,N,CARSON,CA,LOS ANGELES
2491144,90813,"LONG BEACH, CA",493190,3,N,N,N,N,N,N,N,N,N,LONG BEACH,CA,LOS ANGELES
2525722,91748,"ROWLAND HEIGHTS, CA",493190,5,N,N,N,N,N,N,N,N,N,ROWLAND HEIGHTS,CA,LOS ANGELES
2527531,91761,"ONTARIO, CA",493190,6,N,N,N,N,N,N,N,N,N,ONTARIO,CA,SAN BERNARDINO
2529444,91766,"POMONA, CA",493190,3,N,N,N,N,N,N,N,N,N,POMONA,CA,LOS ANGELES
2537631,91950,"NATIONAL CITY, CA",493190,3,N,N,N,N,N,N,N,N,N,NATIONAL CITY,CA,SAN DIEGO
2555927,92121,"SAN DIEGO, CA",493190,3,N,N,N,N,N,N,N,N,N,SAN DIEGO,CA,SAN DIEGO
2560015,92154,"SAN DIEGO, CA",493190,7,5,N,N,N,N,N,N,N,N,SAN DIEGO,CA,SAN DIEGO
2568320,92337,"FONTANA, CA",493190,5,N,N,N,N,N,N,N,N,N,FONTANA,CA,SAN BERNARDINO
2639016,93725,"FRESNO, CA",493190,5,N,N,N,N,N,N,N,N,N,FRESNO,CA,FRESNO
2662367,94503,"AMERICAN CANYON, CA",493190,10,N,3,N,3,N,N,N,N,N,AMERICAN CANYON,CA,NAPA
2669611,94545,"HAYWARD, CA",493190,4,N,N,N,N,N,N,N,N,N,HAYWARD,CA,ALAMEDA
2670730,94550,"LIVERMORE, CA",493190,3,N,N,N,N,N,N,N,N,N,LIVERMORE,CA,ALAMEDA
2685995,94804,"RICHMOND, CA",493190,5,N,N,3,N,N,N,N,N,N,RICHMOND,CA,CONTRA COSTA
2709417,95304,"TRACY, CA",493190,3,N,N,N,N,N,N,N,N,N,TRACY,CA,SAN JOAQUIN

# counting and combining

PLAN:
- get a list of all unique zips
    - that's easy. I already have it from the zip to tract dictionary.
- create a new dataframe
- for each zip,
    - create an observation for each zip / year with est total, est gen, est farm, est cold, est other.
    - boolean mask out all the observations with that zip
    - for each observation, add est to gen/farm/cold/other total

In [67]:
columns = ['zip', 'year', 'est total', 'est gen', 'est cold', 'est farm', 'est other']
zip_df = pd.DataFrame(columns = columns)

In [68]:
zip_df['zip'] = zip_to_tract.keys()
zip_df['year'] = 2019
zip_df

        zip  year est total est gen est cold est farm est other
0     93706  2019       NaN     NaN      NaN      NaN       NaN
1     91761  2019       NaN     NaN      NaN      NaN       NaN
2     95203  2019       NaN     NaN      NaN      NaN       NaN
3     93725  2019       NaN     NaN      NaN      NaN       NaN
4     90023  2019       NaN     NaN      NaN      NaN       NaN
...     ...   ...       ...     ...      ...      ...       ...
1350  95389  2019       NaN     NaN      NaN      NaN       NaN
1351  94964  2019       NaN     NaN      NaN      NaN       NaN
1352  95720  2019       NaN     NaN      NaN      NaN       NaN
1353     57  2019       NaN     NaN      NaN      NaN       NaN
1354     61  2019       NaN     NaN      NaN      NaN       NaN

[1355 rows x 7 columns]

In [69]:
filter_dict = {
    'total':'493///',
    'gen':'493110',
    'cold':'49312/',
    'farm':'493130',
    'other':'493190' 
}

In [96]:
%%time
#takes a while. there's probably a much more efficient way of doing this, butcha kno

for index in df19.index:
    if index%100 == 0:
        print(f'working on index {index}')
    this_zip = int(zip_df.loc[index, 'zip'])
    this_df = zbp19_cali[zbp19_cali['zip'] == this_zip]
    for key in filter_dict:
        zip_df[zip_df['est ' + key ]] = this_df[this_df['naics'] == filter_dict[key]]['est'].sum() #add up all the ests for this zip/naics pair

working on index 0

KeyboardInterrupt:

In [66]:
for thing in filter_dict:
    print(thing)

total
gen
cold
farm
other

In [72]:
zip_df

        zip  year est total est gen est cold est farm est other  NaN
0     93706  2019       NaN     NaN      NaN      NaN       NaN    0
1     91761  2019       NaN     NaN      NaN      NaN       NaN    0
2     95203  2019       NaN     NaN      NaN      NaN       NaN    0
3     93725  2019       NaN     NaN      NaN      NaN       NaN    0
4     90023  2019       NaN     NaN      NaN      NaN       NaN    0
...     ...   ...       ...     ...      ...      ...       ...  ...
1350  95389  2019       NaN     NaN      NaN      NaN       NaN    0
1351  94964  2019       NaN     NaN      NaN      NaN       NaN    0
1352  95720  2019       NaN     NaN      NaN      NaN       NaN    0
1353     57  2019       NaN     NaN      NaN      NaN       NaN    0
1354     61  2019       NaN     NaN      NaN      NaN       NaN    0

[1355 rows x 8 columns]

In [73]:
df19.index

RangeIndex(start=0, stop=1355, step=1)

In [76]:
df19.loc[0,'zip']

'93706'

In [94]:
this_zip = zip_df.loc[0,'zip']
zbp19_cali[zbp19_cali['zip'] == 96161]

,zip,name,naics,est,n<5,n5_9,n10_19,n20_49,n50_99,n100_249,n250_499,n500_999,n1000,city,stabbr,cty_name
2749002,96161,"TRUCKEE, CA",------,901,549,175,100,53,17,4,N,N,N,TRUCKEE,CA,NEVADA
2749003,96161,"TRUCKEE, CA",23----,212,141,36,22,11,N,N,N,N,N,TRUCKEE,CA,NEVADA
2749004,96161,"TRUCKEE, CA",236///,100,71,12,8,8,N,N,N,N,N,TRUCKEE,CA,NEVADA
2749005,96161,"TRUCKEE, CA",2361//,98,70,12,7,8,N,N,N,N,N,TRUCKEE,CA,NEVADA
2749006,96161,"TRUCKEE, CA",23611/,98,70,12,7,8,N,N,N,N,N,TRUCKEE,CA,NEVADA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2749280,96161,"TRUCKEE, CA",81331/,8,5,N,N,N,N,N,N,N,N,TRUCKEE,CA,NEVADA
2749281,96161,"TRUCKEE, CA",813312,7,4,N,N,N,N,N,N,N,N,TRUCKEE,CA,NEVADA
2749282,96161,"TRUCKEE, CA",8139//,11,4,N,3,N,N,N,N,N,N,TRUCKEE,CA,NEVADA
2749283,96161,"TRUCKEE, CA",81399/,9,4,N,3,N,N,N,N,N,N,TRUCKEE,CA,NEVADA
2749284,96161,"TRUCKEE, CA",813990,9,4,N,3,N,N,N,N,N,N,TRUCKEE,CA,NEVADA

In [99]:
zbp19_cali[zbp19_cali['naics'] == filter_dict['gen']]

,zip,name,naics,est,n<5,n5_9,n10_19,n20_49,n50_99,n100_249,n250_499,n500_999,n1000,city,stabbr,cty_name
2449658,90021,"LOS ANGELES, CA",493110,3,N,N,N,N,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
2450348,90023,"LOS ANGELES, CA",493110,7,N,N,N,3,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
2455716,90040,"LOS ANGELES, CA",493110,15,5,3,3,N,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
2457000,90045,"LOS ANGELES, CA",493110,6,N,3,N,N,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
2459475,90058,"LOS ANGELES, CA",493110,15,5,N,N,4,N,4,N,N,N,LOS ANGELES,CA,LOS ANGELES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2739724,95834,"SACRAMENTO, CA",493110,3,N,N,N,N,N,N,N,N,N,SACRAMENTO,CA,SACRAMENTO
2740239,95838,"SACRAMENTO, CA",493110,3,N,N,N,N,N,N,N,N,N,SACRAMENTO,CA,SACRAMENTO
2742453,95945,"GRASS VALLEY, CA",493110,3,N,N,N,N,N,N,N,N,N,GRASS VALLEY,CA,NEVADA
2744463,95987,"WILLIAMS, CA",493110,7,5,N,N,N,N,N,N,N,N,WILLIAMS,CA,COLUSA
2747435,96080,"RED BLUFF, CA",493110,5,N,N,N,N,N,N,N,N,N,RED BLUFF,CA,TEHAMA

In [92]:
zbp19_cali

,zip,name,naics,est,n<5,n5_9,n10_19,n20_49,n50_99,n100_249,n250_499,n500_999,n1000,city,stabbr,cty_name
2443695,90001,"LOS ANGELES, CA",------,613,316,111,96,73,4,12,N,N,N,LOS ANGELES,CA,LOS ANGELES
2443696,90001,"LOS ANGELES, CA",23----,28,13,8,6,N,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
2443697,90001,"LOS ANGELES, CA",236///,6,4,N,N,N,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
2443698,90001,"LOS ANGELES, CA",2361//,5,4,N,N,N,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
2443699,90001,"LOS ANGELES, CA",23611/,5,4,N,N,N,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2749280,96161,"TRUCKEE, CA",81331/,8,5,N,N,N,N,N,N,N,N,TRUCKEE,CA,NEVADA
2749281,96161,"TRUCKEE, CA",813312,7,4,N,N,N,N,N,N,N,N,TRUCKEE,CA,NEVADA
2749282,96161,"TRUCKEE, CA",8139//,11,4,N,3,N,N,N,N,N,N,TRUCKEE,CA,NEVADA
2749283,96161,"TRUCKEE, CA",81399/,9,4,N,3,N,N,N,N,N,N,TRUCKEE,CA,NEVADA
2749284,96161,"TRUCKEE, CA",813990,9,4,N,3,N,N,N,N,N,N,TRUCKEE,CA,NEVADA