# Summing warehouse businesses by zip code with ZBP data

DT

4/20/22

This requires the zip code data to be unzipped.
ZBP data is in the same folders as the CBPs.

In [1]:
import pandas as pd
import os

In [2]:
os.listdir('../raw_data/cbp19/')

['cbp19cd.xlsx',
 'cbp19co.zip',
 'cbp19csa.zip',
 'cbp19msa.zip',
 'cbp19pr_ia_co.zip',
 'cbp19pr_ia_st.zip',
 'cbp19st.zip',
 'cbp19us.zip',
 'zbp19detail.txt',
 'zbp19detail.zip',
 'zbp19totals.zip']

In [3]:
%%time
zbp19 = pd.read_csv('../raw_data/cbp19/zbp19detail.txt', encoding = 'ISO-8859-1')
zbp19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2881311 entries, 0 to 2881310
Data columns (total 16 columns):
 #   Column    Dtype
---  ------    -----
 0   zip       int64
 1   name      object
 2   naics     object
 3   est       int64
 4   n<5       object
 5   n5_9      object
 6   n10_19    object
 7   n20_49    object
 8   n50_99    object
 9   n100_249  object
 10  n250_499  object
 11  n500_999  object
 12  n1000     object
 13  city      object
 14  stabbr    object
 15  cty_name  object
dtypes: int64(2), object(14)
memory usage: 351.7+ MB
Wall time: 4.28 s

In [4]:
zbp19['zip'].value_counts()

33166    830
10001    816
92705    760
11101    746
80112    729
        ...
72812      1
28272      1
72776      1
72769      1
501        1
Name: zip, Length: 35129, dtype: int64

In [5]:
zbp19['naics'].value_counts()[:20]

------    35129
81----    22504
23----    22427
44----    21916
238///    19475
72----    19076
813///    18897
722///    18117
62----    17955
541///    17748
54----    17748
72251/    16735
7225//    16735
56----    16539
813110    16416
8131//    16416
81311/    16416
48----    16118
561///    15812
31----    15775
Name: naics, dtype: int64

There are 35129 total businesses.
The big ones:
- 81----    is Other Services.
- 23----    is construction. (This could be useful when thinking about warehouses?? How do construction business work in terms of establishments vs sites?)
- 44----	Retail Trade
- 238///	Specialty Trade Contractors

More in the NAICS notebook. The ones we're focused on are the warehouses.

Warehouse NAICS:
Our codes are `493///` for Warehousing and Storage.
`4931//` is the only subset of the above. (like taxonomy -- _sapiens_ is the only living species in _homo_)
- `49311/`, `493110` General
- `49312/`, `493120` Refrigerated
- `49313/`, `493130` Farm Products
- `49319/`, `493190` Other


It will be helpful to first just extract only the rows with zips in cali.

4/21/22

made a couple dictionaries to translate tracts to zips and vice versa.

In [6]:
import json

dicts_filepath = '../CA_zip_tract_translation/'

tract_to_zip_dict_filepath = dicts_filepath + 'tract_to_zip.json'
zip_to_tract_dict_filepath = dicts_filepath + 'zip_to_tract.json'

with open (tract_to_zip_dict_filepath, 'r') as my_ttz_file:
    tract_to_zip = json.load(my_ttz_file)

with open (zip_to_tract_dict_filepath, 'r') as my_ztt_file:
    zip_to_tract = json.load(my_ztt_file)

In [7]:
zip_to_tract['90210']

[6037700801, 6037700700, 6037141700, 6037261101, 6037700600, 6037261102]

In [8]:
tract_to_zip['6037700801']

90210

I'd like a DataFrame with observations like the following...


| index | census tract |  zip code | original CAES number | total business type 1 | total business type 2 | ... |
| --- | --- | --- | --- | --- | --- | --- |

making sure not to use census tract or zip as indices --- there will be multiple ones from each CAES set.

In [9]:
all_cali_zips = set(zip_to_tract.keys())
all_cali_zips

{'91977',
 '93030',
 '90043',
 '91104',
 '95925',
 '95827',
 '93442',
 '91776',
 '93727',
 '95203',
 '94704',
 '95206',
 '96142',
 '92310',
 '95691',
 '91765',
 '94102',
 '91505',
 '93630',
 '91020',
 '95616',
 '94534',
 '95728',
 '90022',
 '92103',
 '95864',
 '92673',
 '92113',
 '91303',
 '92808',
 '94508',
 '90015',
 '92140',
 '93225',
 '93517',
 '96088',
 '93907',
 '93305',
 '95062',
 '93657',
 '93035',
 '92843',
 '32',
 '94949',
 '92315',
 '95664',
 '91390',
 '95117',
 '90011',
 '94535',
 '94024',
 '92883',
 '95525',
 '95973',
 '91911',
 '93203',
 '95301',
 '90265',
 '94114',
 '94103',
 '95003',
 '92553',
 '93955',
 '92106',
 '90815',
 '94571',
 '90254',
 '95757',
 '95210',
 '95060',
 '95602',
 '92086',
 '95688',
 '90404',
 '90010',
 '90717',
 '94572',
 '94801',
 '95823',
 '90262',
 '93633',
 '94301',
 '93656',
 '90067',
 '91307',
 '95641',
 '91306',
 '90017',
 '93622',
 '95357',
 '90270',
 '95988',
 '91773',
 '94519',
 '91107',
 '95690',
 '95128',
 '95814',
 '95037',
 '92136',
 '95442',
 '91710',
 '95546',
 '90006',
 '90742',
 '92282',
 '93615',
 '94533',
 '90840',
 '92543',
 '93711',
 '93313',
 '91901',
 '93110',
 '90069',
 '93555',
 '93210',
 '96032',
 '95404',
 '91792',
 '94599',
 '95126',
 '92276',
 '95230',
 '95834',
 '93043',
 '90290',
 '94116',
 '91320',
 '90803',
 '90071',
 '92399',
 '95959',
 '94590',
 '92372',
 '92283',
 '93015',
 '93722',
 '93516',
 '93449',
 '95407',
 '92657',
 '94606',
 '92407',
 '93662',
 '93241',
 '92506',
 '91203',
 '94530',
 '95376',
 '90266',
 '94960',
 '95322',
 '91351',
 '95421',
 '94402',
 '92227',
 '93267',
 '91786',
 '92831',
 '94574',
 '95842',
 '95701',
 '95819',
 '93463',
 '92868',
 '90012',
 '95667',
 '91423',
 '94520',
 '92223',
 '92805',
 '40',
 '93277',
 '92880',
 '91377',
 '92024',
 '90292',
 '96052',
 '90505',
 '93721',
 '90640',
 '95006',
 '90744',
 '95064',
 '96140',
 '93550',
 '91350',
 '94509',
 '92603',
 '91016',
 '90813',
 '96113',
 '95833',
 '93311',
 '94542',
 '93536',
 '94580',
 '92121',
 '92075',
 '93420',
 '95215',
 '90066',
 '94558',
 '94563',
 '91723',
 '91941',
 '96051',
 '93219',
 '91910',
 '94306',
 '93654',
 '95303',
 '95901',
 '91204',
 '95629',
 '95348',
 '92405',
 '90621',
 '95338',
 '93023',
 '93950',
 '93501',
 '95020',
 '90064',
 '95917',
 '93535',
 '95482',
 '95219',
 '91801',
 '92128',
 '95746',
 '92371',
 '93292',
 '92311',
 '95678',
 '94710',
 '94591',
 '92211',
 '90604',
 '91105',
 '93033',
 '94109',
 '91436',
 '95240',
 '95642',
 '92844',
 '94080',
 '91739',
 '92648',
 '95501',
 '95682',
 '92301',
 '90044',
 '90046',
 '92704',
 '92869',
 '92324',
 '94561',
 '95526',
 '93041',
 '94022',
 '92507',
 '92392',
 '95306',
 '92201',
 '92316',
 '90802',
 '93906',
 '95076',
 '95111',
 '93518',
 '94303',
 '92503',
 '94965',
 '90291',
 '90701',
 '94585',
 '92401',
 '95672',
 '90248',
 '92054',
 '94124',
 '94107',
 '95550',
 '95223',
 '93286',
 '90041',
 '94925',
 '95382',
 '95326',
 '93243',
 '91010',
 '92328',
 '95722',
 '93612',
 '94501',
 '93618',
 '91207',
 '92102',
 '91789',
 '92539',
 '92567',
 '90274',
 '92861',
 '90504',
 '92145',
 '91711',
 '94566',
 '93252',
 '94963',
 '93619',
 '91602',
 '90025',
 '94611',
 '95346',
 '95202',
 '94531',
 '92250',
 '92278',
 '91504',
 '90034',
 '90716',
 '95551',
 '95836',
 '92676',
 '90001',
 '92356',
 '93710',
 '93465',
 '96065',
 '93268',
 '95316',
 '95943',
 '95405',
 '92662',
 '91202',
 '95066',
 '61',
 '94506',
 '93637',
 '93444',
 '95720',
 '95360',
 '96001',
 '94703',
 '93905',
 '95355',
 '92802',
 '92332',
 '93610',
 '93534',
 '92561',
 '95423',
 '90805',
 '95356',
 '90620',
 '93108',
 '95337',
 '95351',
 '91748',
 '91030',
 '93204',
 '91401',
 '91708',
 '95565',
 '90008',
 '93263',
 '94952',
 '92119',
 '90255',
 '95374',
 '92596',
 '90058',
 '93013',
 '91101',
 '94610',
 '95327',
 '92530',
 '90403',
 '90021',
 '92010',
 '93723',
 '92057',
 '93609',
 '95626',
 '90715',
 '94070',
 '95928',
 '94517',
 '93561',
 '92011',
 '91343',
 '95966',
 '94565',
 '94117',
 '92832',
 '92882',
 '92555',
 '94560',
 '92630',
 '92504',
 '94939',
 '95046',
 '91324',
 '90605',
 '96020',
 '94041',
 '94132',
 '91006',
 '93111',
 '94596',
 '90630',
 '90049',
 '91502',
 '92591',
 '90745',
 '90222',
 '93212',
 '95843',
 '96103',
 '94028',
 '95005',
 '91008',
 '94063',
 '92627',
 '91103',
 '96120',
 '95335',
 '92374',
 '92404',
 '94305',
 '91945',
 '94043',
 '95446',
 '91731',
 '95991',
 '92131',
 '91763',
 '93625',
 '92629',
 '93646',
 '96044',
 '93430',
 '92823',
 '90016',
 '95065',
 '93532',
 '90501',
 '95465',
 '95370',
 '94505',
 '92021',
 '92236',
 '91914',
 '93433',
 '90732',
 '95363',
 '90731',
 '92646',
 '92879',
 '95070',
 '94541',
 '93591',
 '90506',
 '90003',
 '90013',
 '94602',
 '90032',
 '90710',
 '92254',
 '95134',
 '93301',
 '95828',
 '94403',
 '93271',
 '92253',
 '90094',
 '95386',
 '93405',
 '93505',
 '92660',
 '92105',
 '91201',
 '95432',
 '92335',
 '92055',
 '92252',
 '95630',
 '96022',
 '96132',
 '93280',
 '90045',
 '95542',
 '91405',
 '94589',
 '95236',
 '92363',
 '96064',
 '93524',
 '94518',
 '94931',
 '94510',
 '92586',
 '95655',
 '95703',
 '94582',
 '91316',
 '91214',
 '96130',
 '92394',
 '95603',
 '92612',
 '95023',
 '92120',
 '91737',
 '95623',
 '90401',
 '91730',
 '95050',
 '92081',
 '96117',
 '95648',
 '92692',
 '92557',
 '90245',
 '91335',
 '95826',
 '92056',
 '92683',
 '93251',
 '92663',
 '90039',
 '95132',
 '92867',
 '91746',
 '90810',
 '48',
 '93242',
 '93257',
 '91605',
 '95695',
 '90703',
 '92549',
 '90023',
 '95017',
 '91724',
 '92551',
 '95403',
 '91361',
 '92104',
 '95524',
 '95008',
 '92239',
 '95963',
 '90242',
 '96007',
 '91352',
 '95987',
 '94956',
 '92129',
 '90042',
 '96047',
 '92260',
 '94019',
 '92563',
 '93402',
 '90062',
 '95247',
 '95469',
 '93730',
 '92067',
 '90402',
 '91915',
 '95122',
 '95192',
 '91732',
 '95112',
 '90305',
 '92408',
 '90250',
 '92281',
 '92320',
 '93306',
 '95204',
 '92313',
 '95492',
 '92672',
 '95073',
 '90241',
 '93422',
 '95453',
 '92127',
 '91755',
 '96161',
 '96019',
 '91702',
 '90806',
 '94538',
 '96124',
 '95662',
 '95762',
 '95650',
 '94598',
 '90606',
 '95333',
 '93455',
 '93526',
 '93944',
 '95054',
 '91942',
 '92604',
 '93066',
 '93653',
 '96145',
 '93901',
 '94110',
 '92111',
 '92382',
 '90304',
 '93705',
 '96067',
 '94547',
 '94705',
 '92309',
 '92014',
 '95608',
 '95975',
 '95765',
 '93117',
 '91606',
 '95490',
 '96031',
 '94619',
 '94304',
 '95536',
 '95222',
 '90631',
 '90747',
 '92835',
 '95979',
 '94131',
 '91601',
 '90201',
 '92110',
 '94536',
 '95521',
 '94941',
 '93563',
 '91744',
 '96122',
 '91978',
 '94545',
 '90061',
 '92376',
 '95660',
 '95841',
 '94526',
 '93042',
 '93446',
 '95953',
 '94618',
 '94515',
 '93245',
 '95965',
 '95669',
 '92617',
 '92584',
 '94564',
 '92807',
 '91913',
 '92135',
 '90020',
 '92241',
 '93036',
 '91406',
 '35',
 '92284',
 '94603',
 '91362',
 '95032',
 '91762',
 '93291',
 '90249',
 '92359',
 '93223',
 '95131',
 '92139',
 '94592',
 '95220',
 '93012',
 '95012',
 '92708',
 '95437',
 '92801',
 '94105',
 '92240',
 '94539',
 '93923',
 '90712',
 '95136',
 '90260',
 '92274',
 '93307',
 '92336',
 '95912',
 '94128',
 '93207',
 '95638',
 '94118',
 '95033',
 '95621',
 '94903',
 '91784',
 '90002',
 '92707',
 '92107',
 '93648',
 '91709',
 '95640',
 '93304',
 '95464',
 '91321',
 '92352',
 '92804',
 '92069',
 '95628',
 '94804',
 '91752',
 '95830',
 '94544',
 '91761',
 '94503',
 '95330',
 '93283',
 '94404',
 '91764',
 '91355',
 '90033',
 '90278',
 '90027',
 '92833',
 '93701',
 '95758',
 '95127',
 '92373',
 '95981',
 '90723',
 '94707',
 '93285',
 '93021',
 '91935',
 '95620',
 '93720',
 '95340',
 '95228',
 '93702',
 '95685',
 '96002',
 '93640',
 '90623',
 '90650',
 '93933',
 '92501',
 '90277',
 '92082',
 '95652',
 '93546',
 '92647',
 '91950',
 '91304',
 '95949',
 '92065',
 '90077',
 '92354',
 '95030',
 '90804',
 '91340',
 '91906',
 '51',
 '92705',
 '92256',
 '92677',
 '94607',
 '92532',
 '95661',
 '95971',
 '92410',
 '96016',
 '92117',
 '94970',
 '91402',
 '95825',
 '90247',
 '94612',
 '93314',
 '93960',
 '92028',
 '91740',
 '95693',
 '91770',
 '94601',
 '94060',
 '95118',
 '95631',
 '92610',
 '96080',
 '93309',
 '96025',
 '91916',
 '92358',
 '90230',
 '95358',
 '95624',
 '94579',
 '95677',
 '95427',
 '90814',
 '95320',
 '91342',
 '96101',
 '91381',
 '96058',
 '90232',
 '92220',
 '92083',
 '95212',
 '91387',
 '95039',
 '92134',
 '93441',
 '93728',
 '94901',
 '91024',
 '94507',
 '93636',
 '91206',
 '95207',
 '92649',
 '95829',
 '95938',
 '92548',
 '94702',
 '94954',
 '94621',
 '93704',
 '95401',
 '92347',
 '91604',
 '95139',
 '92509',
 '93445',
 '95822',
 '93274',
 '95946',
 '39',
 '95051',
 '94904',
 '91007',
 '94134',
 '95742',
 '92571',
 '91768',
 '91301',
 '95422',
 '93644',
 '91330',
 '92008',
 '93608',
 '90059',
 '95209',
 '93004',
 '91754',
 '94597',
 '91371',
 '95698',
 '93453',
 '95665',
 '93101',
 '94044',
 '95658',
 '95916',
 '95409',
 '95341',
 '92262',
 '94577',
 '93908',
 '94930',
 '93003',
 '92264',
 '95148',
 '95548',
 '90065',
 '91356',
 '94123',
 '92582',
 '92154',
 '95010',
 '92020',
 '96108',
 '94014',
 '92029',
 '90301',
 '92508',
 '95135',
 '91741',
 '91311',
 '93436',
 '92651',
 '95709',
 '93930',
 '95942',
 '90068',
 '90038',
 '94129',
 '95472',
 '90272',
 '95336',
 '92618',
 '94066',
 '94951',
 '92614',
 '91767',
 '90007',
 '93454',
 '94040',
 '94546',
 '94588',
 '95043',
 '94062',
 '92243',
 '95315',
 '93215',
 '90755',
 '93206',
 '95476',
 '94947',
 '95366',
 '90056',
 '91302',
 '92570',
 '90740',
 '95993',
 '92701',
 '92675',
 '95466',
 '92036',
 '94015',
 '96013',
 '95694',
 '92027',
 '94945',
 '90026',
 '95663',
 '92782',
 '93437',
 '90211',
 '92277',
 '93703',
 '94521',
 '93725',
 '93065',
 '93234',
 '57',
 '95257',
 '95957',
 '90220',
 '94086',
 '95531',
 '91364',
 '90293',
 '92395',
 '93706',
 '92078',
 '95130',
 '93552',
 '91803',
 '91722',
 '91354',
 '92040',
 '95367',
 '95713',
 '94928',
 '90601',
 '94061',
 '93631',
 '90704',
 '92225',
 '93247',
 '93312',
 '94158',
 '90004',
 '94121',
 '90602',
 '94568',
 '92518',
 '92337',
 '94613',
 '93105',
 '95824',
 ...}

In [10]:
#there are almost 300000 observations from california in zbp19.

#make a table of bools to mask the non-calis
zbp19_cali_truths = zbp19['zip'].apply(lambda zip_code: str(zip_code) in all_cali_zips)
zbp19_cali_truths.sum()

299337

In [11]:
#mask the non-calis with that truth table.
zbp19_cali = zbp19[zbp19_cali_truths]
zbp19_cali

,zip,name,naics,est,n<5,n5_9,n10_19,n20_49,n50_99,n100_249,n250_499,n500_999,n1000,city,stabbr,cty_name
2443695,90001,"LOS ANGELES, CA",------,613,316,111,96,73,4,12,N,N,N,LOS ANGELES,CA,LOS ANGELES
2443696,90001,"LOS ANGELES, CA",23----,28,13,8,6,N,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
2443697,90001,"LOS ANGELES, CA",236///,6,4,N,N,N,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
2443698,90001,"LOS ANGELES, CA",2361//,5,4,N,N,N,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
2443699,90001,"LOS ANGELES, CA",23611/,5,4,N,N,N,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2749280,96161,"TRUCKEE, CA",81331/,8,5,N,N,N,N,N,N,N,N,TRUCKEE,CA,NEVADA
2749281,96161,"TRUCKEE, CA",813312,7,4,N,N,N,N,N,N,N,N,TRUCKEE,CA,NEVADA
2749282,96161,"TRUCKEE, CA",8139//,11,4,N,3,N,N,N,N,N,N,TRUCKEE,CA,NEVADA
2749283,96161,"TRUCKEE, CA",81399/,9,4,N,3,N,N,N,N,N,N,TRUCKEE,CA,NEVADA
2749284,96161,"TRUCKEE, CA",813990,9,4,N,3,N,N,N,N,N,N,TRUCKEE,CA,NEVADA

In [12]:
zbp19_cali.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 299337 entries, 2443695 to 2749284
Data columns (total 16 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   zip       299337 non-null  int64
 1   name      299337 non-null  object
 2   naics     299337 non-null  object
 3   est       299337 non-null  int64
 4   n<5       299337 non-null  object
 5   n5_9      299337 non-null  object
 6   n10_19    299337 non-null  object
 7   n20_49    299337 non-null  object
 8   n50_99    299337 non-null  object
 9   n100_249  299337 non-null  object
 10  n250_499  299337 non-null  object
 11  n500_999  299337 non-null  object
 12  n1000     299337 non-null  object
 13  city      299337 non-null  object
 14  stabbr    299337 non-null  object
 15  cty_name  299337 non-null  object
dtypes: int64(2), object(14)
memory usage: 38.8+ MB

In [13]:
# look at construction. There are some with '-' and some with '/' as their placeholders.
# I'm not sure there's a difference between the two symbols.
zbp19_cali[zbp19_cali['naics'] == '23----']

,zip,name,naics,est,n<5,n5_9,n10_19,n20_49,n50_99,n100_249,n250_499,n500_999,n1000,city,stabbr,cty_name
2443696,90001,"LOS ANGELES, CA",23----,28,13,8,6,N,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
2443959,90002,"LOS ANGELES, CA",23----,21,17,N,3,N,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
2444047,90003,"LOS ANGELES, CA",23----,28,22,4,N,N,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
2444196,90004,"LOS ANGELES, CA",23----,50,34,12,3,N,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
2444565,90005,"LOS ANGELES, CA",23----,34,27,5,N,N,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2748356,96142,"TAHOMA, CA",23----,14,11,N,N,N,N,N,N,N,N,TAHOMA,CA,EL DORADO
2748368,96143,"KINGS BEACH, CA",23----,29,23,4,N,N,N,N,N,N,N,KINGS BEACH,CA,PLACER
2748421,96145,"TAHOE CITY, CA",23----,60,40,14,5,N,N,N,N,N,N,TAHOE CITY,CA,PLACER
2748648,96150,"SOUTH LAKE TAHOE, CA",23----,154,124,20,8,N,N,N,N,N,N,SOUTH LAKE TAHOE,CA,EL DORADO
2749003,96161,"TRUCKEE, CA",23----,212,141,36,22,11,N,N,N,N,N,TRUCKEE,CA,NEVADA

In [14]:
#221 "summary" rows with ALL warehouses in each zip. 
zbp19_cali[zbp19_cali['naics'] == '493///']

,zip,name,naics,est,n<5,n5_9,n10_19,n20_49,n50_99,n100_249,n250_499,n500_999,n1000,city,stabbr,cty_name
2443850,90001,"LOS ANGELES, CA",493///,3,N,N,N,N,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
2449655,90021,"LOS ANGELES, CA",493///,9,4,N,N,N,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
2450345,90023,"LOS ANGELES, CA",493///,14,3,N,N,4,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
2455713,90040,"LOS ANGELES, CA",493///,16,5,3,3,N,3,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
2456997,90045,"LOS ANGELES, CA",493///,6,N,3,N,N,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2739721,95834,"SACRAMENTO, CA",493///,4,N,N,N,N,N,N,N,N,N,SACRAMENTO,CA,SACRAMENTO
2740236,95838,"SACRAMENTO, CA",493///,3,N,N,N,N,N,N,N,N,N,SACRAMENTO,CA,SACRAMENTO
2742450,95945,"GRASS VALLEY, CA",493///,3,N,N,N,N,N,N,N,N,N,GRASS VALLEY,CA,NEVADA
2744460,95987,"WILLIAMS, CA",493///,7,5,N,N,N,N,N,N,N,N,WILLIAMS,CA,COLUSA
2747432,96080,"RED BLUFF, CA",493///,5,N,N,N,N,N,N,N,N,N,RED BLUFF,CA,TEHAMA

In [15]:
#make a dict for converting warehouse types to codes.
warehouse_dict = {
    'warehouses':'493///',
    'gen/':'49311/',
    'gen':'493110',
    'cold':'49312/',
    'farm/':'49313/',
    'farm':'493130',
    'other/':'49319/',
    'other':'493190'
}

In [16]:
#try it out.
df2 = zbp19_cali[zbp19_cali['naics'] == warehouse_dict['gen'] ]

In [17]:
# the general code has the same statistics as the more specific code.

df1 = zbp19_cali[zbp19_cali['naics'] == warehouse_dict['gen/']]

In [18]:
#just checking if dividing by 'gen' type is the same as dividing by 'gen/' type.
df1.drop(columns = 'naics').values == df2.drop(columns = 'naics').values

array([[ True,  True,  True, ...,  True,  True,  True],
       [ True,  True,  True, ...,  True,  True,  True],
       [ True,  True,  True, ...,  True,  True,  True],
       ...,
       [ True,  True,  True, ...,  True,  True,  True],
       [ True,  True,  True, ...,  True,  True,  True],
       [ True,  True,  True, ...,  True,  True,  True]])

In [19]:
sum(_)

array([174, 174, 174, 174, 174, 174, 174, 174, 174, 174, 174, 174, 174,
       174, 174])

In [20]:
len(df1)

174

In [21]:
# ^ They are the same. ^

In [22]:
df1 = zbp19_cali[zbp19_cali['naics'] == warehouse_dict['cold']]
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 2449659 to 2715469
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   zip       20 non-null     int64
 1   name      20 non-null     object
 2   naics     20 non-null     object
 3   est       20 non-null     int64
 4   n<5       20 non-null     object
 5   n5_9      20 non-null     object
 6   n10_19    20 non-null     object
 7   n20_49    20 non-null     object
 8   n50_99    20 non-null     object
 9   n100_249  20 non-null     object
 10  n250_499  20 non-null     object
 11  n500_999  20 non-null     object
 12  n1000     20 non-null     object
 13  city      20 non-null     object
 14  stabbr    20 non-null     object
 15  cty_name  20 non-null     object
dtypes: int64(2), object(14)
memory usage: 2.7+ KB

In [23]:
df1

,zip,name,naics,est,n<5,n5_9,n10_19,n20_49,n50_99,n100_249,n250_499,n500_999,n1000,city,stabbr,cty_name
2449659,90021,"LOS ANGELES, CA",49312/,4,N,N,N,N,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
2450349,90023,"LOS ANGELES, CA",49312/,6,N,N,N,N,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
2459476,90058,"LOS ANGELES, CA",49312/,17,5,N,N,7,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
2481757,90640,"MONTEBELLO, CA",49312/,3,N,N,N,N,N,N,N,N,N,MONTEBELLO,CA,LOS ANGELES
2487475,90744,"WILMINGTON, CA",49312/,3,N,N,N,N,N,N,N,N,N,WILMINGTON,CA,LOS ANGELES
2519220,91706,"BALDWIN PARK, CA",49312/,3,N,N,N,N,N,N,N,N,N,BALDWIN PARK,CA,LOS ANGELES
2521921,91730,"RANCHO CUCAMONGA, CA",49312/,3,N,N,N,N,N,N,N,N,N,RANCHO CUCAMONGA,CA,SAN BERNARDINO
2527528,91761,"ONTARIO, CA",49312/,6,N,N,3,N,N,N,N,N,N,ONTARIO,CA,SAN BERNARDINO
2567685,92335,"FONTANA, CA",49312/,3,N,N,N,N,N,N,N,N,N,FONTANA,CA,SAN BERNARDINO
2575519,92509,"RIVERSIDE, CA",49312/,5,N,N,N,N,N,N,N,N,N,RIVERSIDE,CA,RIVERSIDE
2617979,93215,"DELANO, CA",49312/,3,N,N,N,N,N,N,N,N,N,DELANO,CA,KERN
2620119,93274,"TULARE, CA",49312/,3,N,N,N,N,N,N,N,N,N,TULARE,CA,TULARE
2633426,93618,"DINUBA, CA",49312/,3,N,N,N,N,N,N,N,N,N,DINUBA,CA,TULARE
2635373,93654,"REEDLEY, CA",49312/,5,N,N,N,N,N,N,N,N,N,REEDLEY,CA,FRESNO
2639011,93725,"FRESNO, CA",49312/,3,N,N,N,N,N,N,N,N,N,FRESNO,CA,FRESNO
2640251,93901,"SALINAS, CA",49312/,4,N,N,N,N,N,N,N,N,N,SALINAS,CA,MONTEREY
2675753,94577,"SAN LEANDRO, CA",49312/,3,N,N,N,N,N,N,N,N,N,SAN LEANDRO,CA,ALAMEDA
2698640,95076,"WATSONVILLE, CA",49312/,7,3,4,N,N,N,N,N,N,N,WATSONVILLE,CA,SANTA CRUZ
2706581,95206,"STOCKTON, CA",49312/,3,N,N,N,N,N,N,N,N,N,STOCKTON,CA,SAN JOAQUIN
2715469,95380,"TURLOCK, CA",49312/,3,N,N,N,N,N,N,N,N,N,TURLOCK,CA,STANISLAUS

20 entries in the refrigerated class.

In [24]:
zbp19_cali[zbp19_cali['naics'] == warehouse_dict['farm']]

,zip,name,naics,est,n<5,n5_9,n10_19,n20_49,n50_99,n100_249,n250_499,n500_999,n1000,city,stabbr,cty_name
2617853,93212,"CORCORAN, CA",493130,3,N,N,N,N,N,N,N,N,N,CORCORAN,CA,KINGS
2639014,93725,"FRESNO, CA",493130,3,N,N,N,N,N,N,N,N,N,FRESNO,CA,FRESNO

Only two in the farm type.

In [25]:
zbp19_cali[zbp19_cali['naics'] == warehouse_dict['other']]

,zip,name,naics,est,n<5,n5_9,n10_19,n20_49,n50_99,n100_249,n250_499,n500_999,n1000,city,stabbr,cty_name
2459479,90058,"LOS ANGELES, CA",493190,5,N,3,N,N,N,N,N,N,N,LOS ANGELES,CA,LOS ANGELES
2482512,90660,"PICO RIVERA, CA",493190,6,N,N,N,N,N,N,N,N,N,PICO RIVERA,CA,LOS ANGELES
2483086,90670,"SANTA FE SPRINGS, CA",493190,4,N,N,N,N,N,N,N,N,N,SANTA FE SPRINGS,CA,LOS ANGELES
2484013,90703,"CERRITOS, CA",493190,3,N,N,N,N,N,N,N,N,N,CERRITOS,CA,LOS ANGELES
2487742,90745,"CARSON, CA",493190,3,N,N,N,N,N,N,N,N,N,CARSON,CA,LOS ANGELES
2491144,90813,"LONG BEACH, CA",493190,3,N,N,N,N,N,N,N,N,N,LONG BEACH,CA,LOS ANGELES
2525722,91748,"ROWLAND HEIGHTS, CA",493190,5,N,N,N,N,N,N,N,N,N,ROWLAND HEIGHTS,CA,LOS ANGELES
2527531,91761,"ONTARIO, CA",493190,6,N,N,N,N,N,N,N,N,N,ONTARIO,CA,SAN BERNARDINO
2529444,91766,"POMONA, CA",493190,3,N,N,N,N,N,N,N,N,N,POMONA,CA,LOS ANGELES
2537631,91950,"NATIONAL CITY, CA",493190,3,N,N,N,N,N,N,N,N,N,NATIONAL CITY,CA,SAN DIEGO
2555927,92121,"SAN DIEGO, CA",493190,3,N,N,N,N,N,N,N,N,N,SAN DIEGO,CA,SAN DIEGO
2560015,92154,"SAN DIEGO, CA",493190,7,5,N,N,N,N,N,N,N,N,SAN DIEGO,CA,SAN DIEGO
2568320,92337,"FONTANA, CA",493190,5,N,N,N,N,N,N,N,N,N,FONTANA,CA,SAN BERNARDINO
2639016,93725,"FRESNO, CA",493190,5,N,N,N,N,N,N,N,N,N,FRESNO,CA,FRESNO
2662367,94503,"AMERICAN CANYON, CA",493190,10,N,3,N,3,N,N,N,N,N,AMERICAN CANYON,CA,NAPA
2669611,94545,"HAYWARD, CA",493190,4,N,N,N,N,N,N,N,N,N,HAYWARD,CA,ALAMEDA
2670730,94550,"LIVERMORE, CA",493190,3,N,N,N,N,N,N,N,N,N,LIVERMORE,CA,ALAMEDA
2685995,94804,"RICHMOND, CA",493190,5,N,N,3,N,N,N,N,N,N,RICHMOND,CA,CONTRA COSTA
2709417,95304,"TRACY, CA",493190,3,N,N,N,N,N,N,N,N,N,TRACY,CA,SAN JOAQUIN

# counting and combining

PLAN:
- get a list of all unique zips
    - that's easy. I already have it from the zip to tract dictionary.
- create a new dataframe
- for each zip,
    - create an observation for each zip / year with est total, est gen, est farm, est cold, est other.
    - boolean mask out all the observations with that zip
    - for each observation, add est to gen/farm/cold/other total

In [65]:
#make a new DF with the desired columns
columns = ['zip', 'year', 'est total', 'est gen', 'est cold', 'est farm', 'est other']
zip_df_19 = pd.DataFrame(columns = columns)

In [66]:
#give the DF the right . We'll do this again for each of the other years.
zip_df_19['zip'] = zip_to_tract.keys()
zip_df_19['year'] = 2019
zip_df_19

        zip  year est total est gen est cold est farm est other
0     93706  2019       NaN     NaN      NaN      NaN       NaN
1     91761  2019       NaN     NaN      NaN      NaN       NaN
2     95203  2019       NaN     NaN      NaN      NaN       NaN
3     93725  2019       NaN     NaN      NaN      NaN       NaN
4     90023  2019       NaN     NaN      NaN      NaN       NaN
...     ...   ...       ...     ...      ...      ...       ...
1350  95389  2019       NaN     NaN      NaN      NaN       NaN
1351  94964  2019       NaN     NaN      NaN      NaN       NaN
1352  95720  2019       NaN     NaN      NaN      NaN       NaN
1353     57  2019       NaN     NaN      NaN      NaN       NaN
1354     61  2019       NaN     NaN      NaN      NaN       NaN

[1355 rows x 7 columns]

In [86]:
#make a dictionary to make searching zbp19_cali easier.
business_filter_dict = {
    'total':'493///',
    'gen':'493110',
    'cold':'49312/',
    'farm':'493130',
    'other':'493190' 
}

In [87]:
#just testing out how entries of a dict are spat out.
for business_type in business_filter_dict:
    print(business_type)

total
gen
cold
farm
other

In [88]:
#the result was just the list of keys...
for key in business_filter_dict.keys():
    print(key)

total
gen
cold
farm
other

In [89]:
# ... not the values.
for value in business_filter_dict.values():
    print(value)

493///
493110
49312/
493130
493190

In [99]:
business_filter_dict

{'total': '493///',
 'gen': '493110',
 'cold': '49312/',
 'farm': '493130',
 'other': '493190'}

In [100]:
unique_zips[0]

93706

In [105]:
zip_filter = zbp19['zip'].apply(lambda zipcode: zipcode == 93706)

In [106]:
zip_filter.sum()

274

In [107]:
this_zip_df_19 = zbp19[zip_filter]

In [108]:
this_zip_df_19

,zip,name,naics,est,n<5,n5_9,n10_19,n20_49,n50_99,n100_249,n250_499,n500_999,n1000,city,stabbr,cty_name
2636654,93706,"FRESNO, CA",------,572,227,109,96,82,36,16,N,N,3,FRESNO,CA,FRESNO
2636655,93706,"FRESNO, CA",11----,5,N,N,N,N,N,N,N,N,N,FRESNO,CA,FRESNO
2636656,93706,"FRESNO, CA",115///,5,N,N,N,N,N,N,N,N,N,FRESNO,CA,FRESNO
2636657,93706,"FRESNO, CA",1151//,4,N,N,N,N,N,N,N,N,N,FRESNO,CA,FRESNO
2636658,93706,"FRESNO, CA",11511/,4,N,N,N,N,N,N,N,N,N,FRESNO,CA,FRESNO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2636923,93706,"FRESNO, CA",812220,3,N,N,N,N,N,N,N,N,N,FRESNO,CA,FRESNO
2636924,93706,"FRESNO, CA",813///,21,14,3,N,N,N,N,N,N,N,FRESNO,CA,FRESNO
2636925,93706,"FRESNO, CA",8131//,15,11,N,N,N,N,N,N,N,N,FRESNO,CA,FRESNO
2636926,93706,"FRESNO, CA",81311/,15,11,N,N,N,N,N,N,N,N,FRESNO,CA,FRESNO
2636927,93706,"FRESNO, CA",813110,15,11,N,N,N,N,N,N,N,N,FRESNO,CA,FRESNO

In [112]:
this_business_filter = this_zip_df_19['naics'].apply(lambda naic: naic == business_filter_dict[business_type])

In [122]:
this_zip_business_df_19 = this_zip_df_19[this_business_filter]
this_zip_business_df_19

,zip,name,naics,est,n<5,n5_9,n10_19,n20_49,n50_99,n100_249,n250_499,n500_999,n1000,city,stabbr,cty_name
2636807,93706,"FRESNO, CA",493///,6,3,N,N,N,N,N,N,N,N,FRESNO,CA,FRESNO

In [119]:
zip_df_19.loc[zip_df_19['zip'] == str(93706),'est ' + 'gen'] =50

In [120]:
zip_df_19

        zip  year  est total  est gen  est cold  est farm  est other
0     93706  2019          0       50         0         0          0
1     91761  2019          0        0         0         0          0
2     95203  2019          0        0         0         0          0
3     93725  2019          0        0         0         0          0
4     90023  2019          0        0         0         0          0
...     ...   ...        ...      ...       ...       ...        ...
1350  95389  2019          0        0         0         0          0
1351  94964  2019          0        0         0         0          0
1352  95720  2019          0        0         0         0          0
1353     57  2019          0        0         0         0          0
1354     61  2019          0        0         0         0          0

[1355 rows x 7 columns]

In [137]:

%%time
##is there a better way to do this? probably. But this way works. I think.
counter = 0
#for each unique zip code,
for this_zip_code in unique_zips:
    counter += 1
    if counter%100 == 0:
        print(f'counter == {counter}')
# get a dataframe from zbp19_cali or zbp19 with only that zip code
    zip_filter = zbp19_cali['zip'].apply(lambda zipcode: zipcode == this_zip_code)
    this_zip_df_19 = zbp19_cali[zip_filter]
# for each business type,
    for business_type in business_filter_dict:        
# add up all the entries in the est column for that type,  and put that in zip_df_19 for that zip code.
        business_filter = this_zip_df_19['naics'].apply(lambda naic: naic == business_filter_dict[business_type])
        this_zip_business_df_19 = this_zip_df_19[business_filter]
        #it gives an error if there are no businesses of that type in the zip code. avoid this
        if len(this_zip_business_df_19) > 0:
            zip_df_19.loc[zip_df_19['zip'] == str(this_zip_code),'est ' + business_type] = this_zip_business_df_19['est'].sum()

counter == 100
counter == 200
counter == 300
counter == 400
counter == 500
counter == 600
counter == 700
counter == 800
counter == 900
counter == 1000
counter == 1100
counter == 1200
counter == 1300
Wall time: 1min 25s

In [139]:
zip_df_19

        zip  year  est total  est gen  est cold  est farm  est other
0     93706  2019          6        3         0         0          0
1     91761  2019         97       84         6         0          6
2     95203  2019          3        0         0         0          0
3     93725  2019         20        9         3         3          5
4     90023  2019         14        7         6         0          0
...     ...   ...        ...      ...       ...       ...        ...
1350  95389  2019          0        0         0         0          0
1351  94964  2019          0        0         0         0          0
1352  95720  2019          0        0         0         0          0
1353     57  2019          0        0         0         0          0
1354     61  2019          0        0         0         0          0

[1355 rows x 7 columns]

In [ ]:
#okay. I think it worked. save it while you can.
zip_df_19